# Python System-Dateien
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Sicherheit & Konfiguration
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Datensatz & Reports (WICHTIG für dein Projekt)
*.zarr/             # Ignoriert alle Zarr-Datenpakete
reports/            # Ignoriert alle HTML-Reports (Dokumentation)
tb_logs/            # Ignoriert Tensorboard Logs
wandb/              # Ignoriert Weights & Biases Logs
#data_processing/data/WorldSeasons/*.tif # Ignoriert große Rasterdaten
data_processing/data/WorldSeasons/
data_processing/data/consolidated_s2_lc_analysis.csv
model/tb_logs
model/new_logs
plots/
notebooks/02_Model_Specific/evaluation_plots/

# OS spezifisch
.DS_Store
Thumbs.db
